<!DOCTYPE html>
<html>
<head>
    <meta name="generator" content="Hugo 0.19">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    @*<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">*@

    <link rel="stylesheet" type="text/css" href="~/Content/init.css">
    <link rel="stylesheet" type="text/css" href="~/Content/particles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/markdown.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    @RenderSection("styles", false)
</head>
<body>

    @{ Html.RenderAction("Header", "Region");}

    <div class="container">
        <div class="left">@RenderBody()</div>
        <div class="right">
            @{ Html.RenderAction("Assort", "Region");}
        </div>
    </div>


    @{ Html.RenderAction("Footer", "Region");}
    <div id="particles-js"></div>

    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/av-core-mini-0.6.4.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
    <script type="text/javascript" src="~/Scripts/particles.js"></script>
    <script>
        function setLeanCloud() {
            AV.initialize('PPDrp7ANvEDvzYqBF2gKC7vY-gzGzoHsz', '60o0boL7ij0mkftarA5kEfNs');
        }
        setLeanCloud();
        particlesJS.load('particles-js', '@Url.Content("~/Content/Json/particles.json")', null);
    </script>
    @RenderSection("scripts", false)
</body>
</html>